body {
    background-color: black;
}

.container {
    display: flex;
    background-color: rgb(32, 140, 212);
    gap: 10px;
    height: 600px;
    align-items: stretch;
}

.item {
    width: 200px;
    height: 200px;
    background-color: rgb(57, 57, 223);

}
.item1 {
    f
}